.chart {
    width: 100%;
    max-width: 700px;
    max-height: 60vh;
    aspect-ratio: 16/9;
    margin: 0 auto 1rem;
}

.leadingLine {
  color: var(--ifm-color-primary);
}

.referenceLine {
    color: var(--ifm-color-primary);
}

.label {
    fill: var(--ifm-font-color-base);
    font-weight: normal;
    font-size: small;
}

@media screen and (max-width: 500px) {
    .label {
        font-size: x-small;
    }
}

.referenceLabel {
    fill: var(--ifm-font-color-base);
    font-weight: normal;
    font-size: small;
}

.referenceDot {
    fill: var(--ifm-color-primary);
    color: var(--ifm-color-primary);
}
