root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[client/*.js]
[client/*.ts]
[client/*.tsx]
[client/*.json]
indent_size = 2
